<!-- used for dropdown search bar, not sure -->
<head>
  <meta charset="utf-8">
  <title>jQuery UI Autocomplete - Categories</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  .ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;

  }
  </style>
  <script>
  $.widget( "custom.catcomplete", $.ui.autocomplete, {
    _renderMenu: function( ul, items ) {
      var that = this,
        currentCategory = "";
      $.each( items, function( index, item ) {
        if ( item.category != currentCategory ) {
          ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
          currentCategory = item.category;
        }
        that._renderItemData( ul, item );
      });
    }
  });


  </script>
</head>








<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Wreddit</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul id="allWall-links" class="nav navbar-nav">
      </ul>




<!-- <label for="auto-complete-search">Search: </label>
<input id="auto-complete-search"> -->




      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input id='subreddit-field' type="text" class='form-control' placeholder="Enter subreddit">
          <script>
          $('#subreddit-field').keypress(function (event){
            if(event.which === 13){
              event.preventDefault();
              Wreddit.router.navigate('#r/'+$('#subreddit-field').val(), {trigger: true, replace: true})
              $('#subreddit-field').val('');
            }
          })
          </script>
        </div>
      </form>



      <ul class="nav navbar-nav navbar-right">
        <li style="padding-top: 7px">
          <input id='user-field' type="text" class="form-control" placeholder="Enter User">
        </li>
        <script>
        $('#user-field').keypress(function (event){
          if(event.which === 13){
            event.preventDefault();
            Wreddit.router.navigate('#f/'+$('#user-field').val(), {trigger: true, replace: true})
            $('#user-field').val('');
          }
        })
        </script>

        <!-- <li id="trash-drop" ondrop="drop(event)" ondragover="allowDrop(event)">
          <%= image_tag("trash-icon.png", title: "Drag things here to delete", id: "trash-drop", style: "margin-top: 12px", alt: "delete element", size: '25') %>
        </li> -->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span id="current_user_in_nav_bar"><%= current_user %></span> <b class="caret"></b>
          </a>
          <ul id="main-nav-dropdown" class="dropdown-menu">
            <% if(current_user=="Account")%>
              <li><a href="#newUser">Sign up</a></li>
              <li><a href="#newSession">Log In</a></li>
            <% else %>
              <li><a href="#destroySession">Sign Out</a></li>
              <li class="divider"></li>
              <li><a href="#editSettings">Settings</a></li>
            <%end%>


          </ul>
        </li>
      </ul>
      <ul id="allFeed-links" style="padding-right: 15px" class="nav navbar-nav navbar-right">

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="navigationBar">
</div>


<div id="allOthers">
</div>

<div id="allMasons">
</div>

<div id="allWalls">
</div>





