<!-- used for dropdown search bar, not sure -->









<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Wreddit</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul id="allWall-links" class="nav navbar-nav">
      </ul>




<!-- <label for="auto-complete-search">Search: </label>
<input id="auto-complete-search"> -->



      <form class="navbar-form navbar-left" role="search">

      </form>




      <ul class="nav navbar-nav navbar-right">
        <li style="padding-top: 7px">
          <input id='subreddit-field' type="text" class='form-control' placeholder="Search">
        </li>

        <!-- <li id="trash-drop" ondrop="drop(event)" ondragover="allowDrop(event)">
          <%= image_tag("trash-icon.png", title: "Drag things here to delete", id: "trash-drop", style: "margin-top: 12px", alt: "delete element", size: '25') %>
        </li> -->

        <li id='nav-bar-dropdown-menu' class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span id="current_user_in_nav_bar"><%= current_user %></span> <b class="caret"></b>
          </a>
          <ul id="main-nav-dropdown" class="dropdown-menu">
            <% if(current_user=="Account")%>
              <li><a href="#newUser">Sign up</a></li>
              <li><a href="#newSession">Log In</a></li>
              <li class="divider"></li>
              <li><a href="#viewAbout">About</a></li>
            <% else %>
              <li><a href="#destroySession">Sign Out</a></li>
              <li class="divider"></li>
              <li><a href="#editSettings">Settings</a></li>
              <li><a href="#viewAbout">About</a></li>
            <%end%>


          </ul>
        </li>
      </ul>
      <ul id="allFeed-links" style="padding-right: 15px" class="nav navbar-nav navbar-right">

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div id="navigationBar">
</div>


<div id="allOthers">
</div>

<div id="allMasons">
</div>

<div id="allWalls">
</div>





