<div class="container">
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron">
          <img class="profile-thumb" src="http://david-wu.github.io/images/profile.png">
          <h2> David Wu</h2>
           <a href="http://david-wu.github.io/resume.pdf">Resume </a> | <a href="http://lnkd.in/dgRT3Rb">Linked In </a> | <a href="http://github.com/david-wu">Github</a> | <a href="mailto:david.wuu@gmail.com" target="_top"> david.wuu@gmail.com</a><br><br>




<div class="row">





<h4>About: </h4>
I've always enjoyed making things.  Prior to web development, I spent my free time modifying Raspberry Pis.  In my favorite Pi hack, I used pianoBar, bluez, shell scripts, Python, and an Android App to make a jukebox that plays music when my phone was within Bluetooth range.<br><br>

I started web development after reading about the LAMP stack. I built a simple site, and was instantly hooked.  I spent my free time building my first personal site, ChatMo.  It provided recommendations to users based on a collaborative filtering algorithm being run on a shared database.<br><br>

Since then, I have moved towards newer technologies like Rails, Backbone.js and Node.js. From my diverse coding experience, I have discovered the importance of finding projects I am passionate about. I would love a chance to learn more about exciting new opportunities in web development.
<br><br>

<!--   <h4> Skills: </h4>
  <div class="col-xs-6">
    JavaScript, Backbone.js, AJAX <br>
    Ruby, Ruby on Rails, RSpec <br>
    SQL, PostgreSQL, SQLite, MySQL <br>
    WEBrick, Apache, Node.js <br>
  </div>
  <div class="col-xs-6">
    HTML, CSS, jQuery <br>
    Eclipse, Git <br>
    Perl, PHP, Java <br>
    Raspian, Android SDK <br>
  </div> -->
</div>


</div>

    <div class="row">

      <div class="col-xs-4 about">
        <div class="panel panel-default">
          <a href="/#r/all">
              <div class="panel-heading">
                <h3 class="panel-title">Preddit</h3>
              </div>
            <img class="site-thumb" src="http://david-wu.github.io/images/preddit_thumb.png">
          </a>
          <div class="panel-body">
            <ul>
              <li>Displays Reddit content in vertical tiles</li>
              <li>Single-page application using Backbone.js</li>
              <li>API written in Ruby on Rails</li>
              <li>Drag and drop sharing</li>
              <li>Infinite Scroll</li>
              <li><a href='https://github.com/david-wu/Preddit'>GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-4 about">
        <div class="panel panel-default">
          <a href="http://indieloco.herokuapp.com/">
              <div class="panel-heading">
                <h3 class="panel-title">IndieLoco</h3>
              </div>
            <img class="site-thumb" src="http://david-wu.github.io/images/indieloco_thumb.png">
          </a>
          <div class="panel-body">
            <ul>
              <li>Crowdfunding website</li>
              <li>Single-page application using Backbone.js</li>
              <li>RESTful API written in Rails</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-4 about">
        <div class="panel panel-default">
          <a href="http://david-wu.github.io/game.html">
              <div class="panel-heading">
                <h3 class="panel-title">Game</h3>
              </div>
            <img class="site-thumb" src="http://david-wu.github.io/images/game_thumb.png">
          </a>
          <div class="panel-body">
            <ul>
              <li>Arrow keys to move, space bar to use power</li>
              <li>Javascript game rendered on HTML5 Canvas</li>
              <li>Objects inherit movement and collision detection</li>
              <li><a href='https://github.com/david-wu/Asteroids'>GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>



      <div class="col-xs-4 about">
        <div class="panel panel-default">
          <a href="https://github.com/david-wu/ActiveRecordLite">
              <div class="panel-heading">
                <h3 class="panel-title">ActiveLite</h3>
              </div>
            <img class="site-thumb" src="http://david-wu.github.io/images/active_thumb.png">
          </a>
          <div class="panel-body">
            <ul>
              <li>Implementation of Rails ActiveRecord</li>
            </ul>
          </div>
        </div>
      </div>



    </div>

</div>

