<div class="col-xs-4">
<form id='update-user-form' role="form">
  <div class="checkbox">
    <label>
      <input name='user[permissions][]' type="checkbox" value="permitNsfw"
      <% if(Wreddit.router.currentUser && Wreddit.router.currentUser.get('permitNsfw')) { %>
        checked
      <% } %>
       >
    Show Adult Content</label> <br><br>
  </div>
  <button id="update-btn" type="submit" class="btn btn-success">Submit</button>
</form>
<div id='update-user-alerts'></div>
</div>
