<div class="col-xs-4">
<form role="form">

  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm New Password">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>

  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Reddit Username">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Reddit Password">
  </div>

  <div class="checkbox">
    <label>
      <input name='user[permissions][]' type="checkbox" value="email">
    </label> emails<br>
    <label>
      <input name='user[permissions][]' type="checkbox" value="NSFW">
    </label> nsfw<br>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>