<div class="col-xs-4">
<form role="form">

  <div class="form-group">
    <input type="email" class="form-control" id="email-input" placeholder="Email">
  </div>

  <div class="form-group">
    <input type="email" class="form-control" id="reddit-username-input" placeholder="Reddit Username">
  </div>

  <div class="form-group">
    <input type="email" class="form-control" id="reddit-password-input" placeholder="Reddit Password">
  </div>

  <div class="checkbox">
    <label>
      <input name='user[permissions][]' type="checkbox" value="email">
    </label> emails<br>
    <label>
      <input name='user[permissions][]' type="checkbox" value="NSFW">
    </label> nsfw<br>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
