
<div class="container">
  <div class="row">
    <div class="col-xs-4">

      <form id='form-to-sign-up' role="form">
        <!-- <div class="form-group">
          <label for="email-field">Email</label>
          <input name='user[email]' type="text" class="form-control" id="email-field" placeholder="Email">
        </div> -->

        <div class="form-group">
          <label for="username-field">Username</label>
          <input name='user[username]' type="text" class="form-control" id="username-field" placeholder="Username">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name='user[password]' type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword2">Confirm Password</label>
          <input name='user[confirmPassword]' type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>

          <label>
            <input name='user[permissions][]' type="checkbox" value="email">
          </label> emails<br>
          <label>
            <input name='user[permissions][]' type="checkbox" value="NSFW">
          </label> nsfw<br>

        <button id='sign-up-btn' type='button' class="btn btn-default">Sign up</button>
      </form><br>
      <div id="sign-up-form-errors"></div>
    </div>
  </div>
</div>
<script>
$('form#form-to-sign-up').keypress( function( e ) {
  var code = e.keyCode || e.which;

  if( code === 13 ) {
    $('#sign-up-btn').click();
    return false;
  }
})
</script>