<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <span id="current_user_in_nav_bar">
    <% if(current_user.get('id')){ %>
      <%= current_user.get('username') %>
    <%}else{%>
      Account
    <%}%>
  </span> <b class="caret"></b>
</a>
<ul id="main-nav-dropdown" class="dropdown-menu">
  <% if(current_user.get('id')){%>
    <li><a href="#f/<%=current_user.get('username')%>">My Feed</a></li>
    <li><a href="#destroySession">Sign Out</a></li>
    <li class="divider"></li>
    <li><a href="#editSettings">Settings</a></li>
    <li><a href="#viewAbout">About</a></li>
  <% }else{ %>
    <li><a href="#newUser">Sign up</a></li>
    <li><a href="#newSession">Log In</a></li>
    <li class="divider"></li>
    <li><a href="#viewAbout">About</a></li>
  <%}%>
</ul>