/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

a:hover {
  text-decoration:none
}

#main-navbar{
  background: rgba(235, 229, 213, 0.7);
  outline: none;
}
body {
  padding-top: 70px;
  padding-left: 15px;
}

.wall-link{
  color: #369 !important;
  font: normal verdana,arial,helvetica,sans-serif;
  font-weight: bold;
  float: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.tile.panel.panel-primary {
    width: 350px;
    height: auto;
    display: none;
    padding: 2px;
    opacity: 0;
    cursor: pointer;
}
a.tile-comment-link{
  float:right;
  margin: 5px;
}
.tile-image {
    width: 344px;
    max-height: 1000px;
}
.glyphicon.glyphicon-comment{
  color: #369;
  opacity: 0.7;
}
.glyphicon.glyphicon-comment:hover{
  color: #369;
  opacity: 1;
}
.important{
  color: red;
  font-weight: bold;
  font-style: italic;
}
button.close.tile-closer{
  color: #369;
  opacity: 0.7;
}
button.close.tile-closer:hover{
  color: #369;
  opacity: 1;
}

.modal-image {
  width: 700px;
}
.bare-modal.modal-image {
  max-width: 800px !important;
}
.bare-modal.modal-body{
  max-width: 800px !important;
}
.bare-modal.modal-content{
  width: 0px;
  height: 0px;
}

.viewed {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.viewed:hover, .viewed:focus, .viewed:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.unviewed {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 10px #00CC66;
}
.unviewed:hover, .unviewed:focus, .viewed:active {
  box-shadow: 0 0 25px #00CC66;
}


//about page
.site-thumb {
  padding: 20px;
  max-width:100%;
  max-height:100%;
}
.panel-title {
  text-align: center;
}
.profile-thumb {
  display: inline;
  float: left;
  height: 50px;
  margin-right: 20px;
}
.col-xs-4.about{
  height: 500px;
}
